<!DOCTYPE html>
<html>

<head>
  <title>Edit User</title>
</head>

<body>
  <h2>Edit User</h2>
  <form action="/edit/<%= user.id %>" method="POST">
    <input name="name" value="<%= user.name %>">
    <input name="email" value="<%= user.email %>">
    <button type="submit">Update</button>
  </form>
</body>

</html>